/* General styles */
:root{
    --primaryColor: #28bb76;
    --secondaryColor: #427c5b;
    --thirdColor: #fff;
    --forthColor: #1a1a1a;
    --primaryFont: 'Bebas Neue', cursive;
    --secondaryFont: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}



.cookie-banner {
    display: flex;
    position: fixed;
    width: 100%;
    background: #28bb76;
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 60px;
    padding: 20px;
}

div > button{
    background: #1a1a1a;
    color:white;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid white;
}

