:root{
    --primaryColor: #28bb76;
    --secondaryColor: #427c5b;
    --thirdColor: #fff;
    --forthColor: #1a1a1a;
    --primaryFont: 'Bebas Neue', cursive;
    --secondaryFont: 'Montserrat', sans-serif;
}
div.check{
    margin: 10px 20px;
    padding-bottom: 20px;
}
.headliner{
    text-align: center;
    font-family: var(--primaryFont);
    font-size: 38px;
    padding-top: 70px;
}
.check{
    text-align: left;
}
.event{
    width: 30vw;
    height: 10vh;  
}
.inscription{
    width: 35vw;
    height: 48vh;
    max-height: 280px;
}
#specification {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 70px 20px 20px;
    
    
}

#specification li{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

 #premiere p{
    text-align: center;
    font-size: 36px;
    padding-top: 70px;
 }
 div#premiere{
    min-width: 200px;
    height: 300px;
    text-align: center;
    margin-top: 100px;
    
     
 }
 .containerPremiere{
    background-color: var(--forthColor);
    color: var(--thirdColor);
    font-family: var(--secondaryFont);
    min-height: auto;
    

 }
 .containerSpec{
    font-family: var(--secondaryFont);
    font-size: 16px;
 }
 div#premiere input.text{
    margin: auto 0;
    width: 30%;
    min-width: 200px;
    height: 45px;
    text-align: center;
    color: white;
    background-color: var(--primaryColor);
    padding: 0.8em;
    border-radius: 5px;
    font-family: var(--secondaryFont);
    font-weight: bold;

}
div#premiere input.text:hover{
    background-color: #427c5b;
}
div#premiere input#email.text{
    width: 30%;
    min-width: 200px;
    height: 45px;
    background-color:white;
    color: black;
    justify-content: center;
    
}
form{
    padding: 0px;
    margin: 20px auto;

}



@media (max-width: 576px) { 
    #specification li img{
    width: 100px;
    height: 100px;
    }
    .specification{
       font-size: 12px;
    } 
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 700px) {
    div.check{
        margin: 0px 100px;
        padding: 50px auto;
    }
    .inscription{
        width: 35vw;
        height: 20vh;
    }
    #specification li img{
        width: 125px;
        height: 125px;
        }
}
@media (min-width: 1100px) {
    .inscription{
        width: 40vw;
        height: 15vh;
    }
    #specification li img{
        width: 150px;
        height: 150px;
        }
}