/* General styles */
:root{
    --primaryColor: #28bb76;
    --secondaryColor: #427c5b;
    --thirdColor: #fff;
    --forthColor: #1a1a1a;
    --primaryFont: 'Bebas Neue', cursive;
    --secondaryFont: 'Montserrat', sans-serif;
}
div.check{
    margin: auto 100px;
    padding-bottom: 100px;
}
.check{
    text-align: left;
}
.inscription{
    background-color: aqua;
    width: 30vw;
    height: 40vh;
}

#specification {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 20px;
    
    
}

#specification li{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

 #premiere p{
    text-align: center;
    font-size: 5vh;
    padding-top: 50px;
 }
 div#premiere{
    min-width: 200px;
    height: 300px;
    text-align: center;
    margin-top: 100px;
     
 }
 .containerPremiere{
    background-color: var(--forthColor);
    color: var(--thirdColor);
    font-family: var(--secondaryFont);
 }
 .containerSpec{
    font-family: var(--secondaryFont);
 }
 div#premiere input.text{
    margin: auto 0;
    width: 30%;
    min-width: 200px;
    height: 45px;
    text-align: center;
    background-color: #28bb76;
    color: white;

}
div#premiere input.text:hover{
    background-color:#427c5b;
}
div#premiere input#email.text{
    width: 30%;
    min-width: 200px;
    height: 45px;
    background-color:white;
    color: black;
    justify-content: center;
    
}
form{
    padding: 0px;
    margin-right: 100px;
    margin-top: 200px;
}



@media (min-width: 576px) { 
    #specification li img{
    width: 40%;
    height: 40%;
    max-width: 200px;
    max-height: 200px;
    }
}
