.containerFunctions {
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}


.functions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.functions img {
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 20px;
}



@media (min-width: 576px){
    .containerFunctions{
        flex-flow: row;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .functions img{
        width: 80px;
        height: 80px;
       
    }
}

@media (min-width: 768px){

    

    .functions img{
        width: 90px;
        height: 90px;
        
    }

}

@media (min-width: 992px){

    .functions img{
        width: 120px;
        height: 120px;
       
    }



}


/*
@media (max-width: 600px) { 
    .containerFunctions {
        flex-flow: column;
        align-items: center;
    }
 */  
  