.containerFunctions {
    max-width: 1200px;
    display: flex;
    text-align: center;
}


.functions {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functions img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}



@media (max-width: 600px) { 
    .containerFunctions {
        flex-flow: column;
        align-items: center;
    }
   
  