*{
    box-sizing: border-box;
}

body{
    background-color: greenyellow;
    margin: 0;
}

header{
    background-color: red;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.image{
    flex-basis: 30vh;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.container#containerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.menu{
    position: fixed;
    z-index: 9;  
    flex-basis: 50%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

